.footer {
    padding: 20px;
    background-color: #00274d;
    color: white;
    text-align: center;
}

.footer-content p {
    margin: 0;
    font-size: 1em;
}

.social-media-links {
    margin-top: 10px;
}

.social-media-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.social-media-links a:hover {
    text-decoration: underline;
}
